@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0px;
}
.container{
    display: flex;  
    height: 980px;
    flex: 1 0 1rem;
}
.login-image{
    flex-shrink: 2;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
}
.login-form h1{
    margin: 0px 0px 12px 0px;
}
ul{
    list-style: none;
    padding: 0px;
}

input{
    padding: 15px;
    margin: 11px 0px;
    color: black;
    
}
.email-details input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
}
.pwd-details input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
}
.features a{
    margin-left: 119px;
    text-decoration: none;
    text-decoration-color: #2C5282;
}
button{
    border-radius: 5px;
    width: 350px;
    height: 50px;
    color: #FFFFFF;
    border-color: #FFFFFF;
}
#login-now{
    margin-top: 27px;
    margin-bottom: 15px;
    background-color: #04C45C;
}
#google-login{
    background-color: #2D3748;
}
